*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: "glancyr";
    text-transform: uppercase;
    text-shadow:3px 3px 6px red, 3px 10px 10px yellow;
}
#box1{
    min-height:100px;
    max-height: 15%;
    max-width: 50%;
    min-width: 100px;
    border: 2px solid black;
    overflow: auto ;
    font-weight: 600;
}