* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
body, html {
    font-family: var(--bodyFont);
    font-size: var(--16px);
    color: var(--color-text-primary);
    background: var(--color-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    transition: background .2s linear;
    transition-behavior: normal;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" on;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
}