*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #131313;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #131313;
}
#navigation-bar{ 
    position: fixed;
    width: 100%;
    height: 17%;
    background-color: rgba(0, 0, 0, 0.312);
    display: flex;
}
#navigation-left{
    height: 100%;
    width: 35%;
    /* background-color: orangered; */
}
.logo h1{
    position: absolute;
    align-items: center;
    left: 5%;
    top: 10%;
    font-size: 4vw;
    font-family: "multiple ranges";
    font-weight: 600;
    color: white;
    /* font-style: italic; */
}
.logo h3{
    -webkit-text-stroke: 2px white;

    color: black;
    position: absolute;
    align-items: center;
    left: 19.5%;
    top: 33%;
    font-size: 2.5vw;
    font-family: "multiple ranges";
    font-weight: 100;
    /* font-style: italic;   */
}
a{
    text-decoration: none;
}
#navigation-right{
    width: 65%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    padding: 2.5vw 4vw;
}
#navigation-right a{
    font-family: "NB Architekt Std";
    background-color: transparent;
    border: 1px solid white;
    font-size: 1vw;
    height: 4vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white;     */
    letter-spacing: 4px;
    font-weight: 100;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
#navigation-right a:hover{
    background-color: rgb(91, 87, 87);
}

#navigation-right a.active{
    background-color: white;
    color: black;
    animation-name: animation;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes animation {
    from{
        background-color: transparent;
        color: white;
    }
    to{
        background-color: white;
        color: black;
    }
}
.pages{
    height: 100vh;
    background-color: #131313;
    border: 2px solid white;
    color: white;
}
#home{
    display: grid;
    grid-template-columns: 25% 70% 15%;
    grid-template-rows: 25% 40% 35%;
}
#home-heading{
    /* background-color: lightgreen; */
    grid-row: 2/3;
    grid-column: 2/3;
    /* text-align: center; */
    /* background-color: skyblue; */
}
#home-heading h1{
    font-family: "organa 02";
    font-weight: 200;
    font-size: 5.3vw;
    color: white;
    line-height: 5.1vw;
}

#home-heading h1:nth-child(2){
    content: "";
    font-family: "organa 01";
    margin-bottom: 2vw;
}
#home-heading h3{
    font-family: "gilroy";
    color: rgb(145, 143, 143);
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
}
#home-heading button{
    font-size: 2vw;
    padding: 0.5vw 3vw 0.5vw 1vw;
    position: relative;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
#home-heading i{
    color: white;
    position: absolute;
}
#features{
    padding: 10vw 3vw;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }
  
  .features {
    flex: 1;
    padding: 20px;
  }
  
  .feature-card {
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .feature-card.active {
    background-color: #f0f0f0;
    color: black;
  }
  
  .details {
    flex: 1;
    padding: 20px;
  }
  
  .details div {
    display: none;
  }
  
  .details div:first-child {
    display: block;
  }
  
  .details h2 {
    font-family: "multiple ranges";
    line-height: 6vw;
    /* margin-bottom: 1px; */
    height: 4.7vw;
    display: flex;
    align-items: flex-start ;
    width: fit-content;
    font-size: 6vw;
    margin-bottom: 1.5vw;
  }
  
  .details p {
    margin-top:10vw;
    background-color: blue;
    line-height: 1.6;
    font-size: 1.2vw;
  }