*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #f8f8f8;
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    /* background-color: lightgreen; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid black;
    font-size: 22px;
    font-weight : 600;
    /* background-color: red; */
}
#nav h1{
    padding-left: 4.5vw;
    font-size: 43px;
    font-family: "monument";
    /* background-color: lightgreen; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h1::after{
    content: "©";
    font-family: "gilroy";
    font-weight: 400;
    font-size: 30px;
    position: absolute;
    top: 6%;
    left: 20.5%;
}
#nav h1::before{
    content: "model management";
    font-family: "gilroy";
    font-weight: 500;
    font-size: 1vw;
    position: absolute;
    letter-spacing: 1px;
    top: 13.5%;
    left: 11.3%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#nav h2:nth-last-child(2){
    width: 29%;
}
#center{
    height: 90%;
    width: 100%;
    padding: 4vw;
    /* background-color: royalblue; */
    position: relative;
}#content{
    height: 100%;
    width: 100%;
    /* background-color: green; */
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
#overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: white;
}
#over1{
    display: flex;
    justify-content: space-between;
}
#over1 h1{
    font-family: "monument";
    font-size: 3.5vw;
}
#over1 h2{
    font-family: "monument";
    border: 2px solid white  ;
    font-size: 1vw;
    /* background-color: blue; */
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
#over2{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    align-items: center;

}
#over2 h2{
    font-size: 1.5vw;
    font-weight: 500;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x : hidden;
    overflow-y: hidden;
    margin-bottom: 5vw;
}

#container{
    padding: 1vw;
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
}
#scroll img{
    /* display: none; */
    rotate: 0deg;
    margin: 0.5vw;
    height: 16vw;
    object-fit: cover;
    width: 16vw;
    border-radius: 50%;
    object-position: top;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabet{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
}
#alphabet h5{
    font-size: 25px;
    margin-right: 20px;
    border-bottom: 2px solid black;
    font-style: italic;
}
#alphabet h6{
    font-size: 20px;
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    width: 10px;
    cursor: pointer;
    padding: 0.7vw 1.5vw;
    background-color: white;
    border: 0px solid ;
    transition: all linear 0.2s ;
}
#alphabet h6:hover{
    border: 2px solid ;
}
#page2{
    width: 100%;
    padding: 2vw 5vw;
    height: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 55% 5% 14% 26%;
    grid-template-rows: 70% 30%;
}
#page2-part1{
    /* border: 3px solid black; */
    grid-row: 1/3;
    background-color: aqua;
}
#page2-part1 img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
#page2-part2{
    /* border: 3px solid black; */
    grid-row: 1/2;
    grid-column: 3/5;
    /* background-color: green; */
}
#page2-part2 img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
#page2-part2-content1{
    grid-column: 3/4;
    grid-row: 2/3;
    /* background-color: brown; */
    padding: 20px 0px;
    font-size: 20px;
}
#page2-part2-content2{
    grid-column: 4/5;
    grid-row: 2/3;
    /* background-color: brown; */
    padding: 20px 45px;
    font-size: 17px;
}

#page3{
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 75% 15%;
}
#page3-nav{
    grid-row: 1/2;
    grid-column: 1/2;
    /* background-color: green; */
    padding-left: 5vw;
}
#page3-nav h1{
    font-family: "glancyr";
    font-size: 50px;
}
#page3-center{
    grid-row: 2/3;
    grid-column: 1/2;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#page3-center img{
    position: absolute;
}
#page3-bottom{
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 0px 5vw;
    /* background-color: chartreuse; */
}
#page3-bottom h3{
    font-size: 25px;
    font-family: "gilroy";
    font-weight: 500;
}
#page3-right{
    /* background-color: blueviolet; */
    grid-column: 2/3;
    grid-row: 2/4;
    padding: 5% 5% 5% 5%;
}
#page3-right img{
    width: 50%;
    height: 80%;
    /* background-color: blue; */
    position: absolute;
    object-fit: cover;
    object-position: top;
}
#page4{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 6vw 4.5vw;
}
#page4>h1{
    text-align: center;
    font-family: "monument";
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 4vw;
}
.elem{
    height: 20%;
    width: 100%;
    /* background-color: lightgreen; */
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 2vw;
    position: relative;
}
.elem #elem-part2{
    /* background-color: red; */
    width: 50%;
}
.elem #elem-part2 h1{
    /* background-color: red; */
    width: 50%;
    font-weight: 500;
    font-size: 2vw;
    text-transform: capitalize;
} 
.elem:nth-child(2n) img{
    object-fit: cover;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    left: 18%;
    opacity: 0;
    transition: all ease 0.3s;
}
.elem:nth-child(2n+1) img{
    object-fit: cover;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    opacity: 0;
    transition: all ease 0.5s;
}
.elem:hover{
    background-color: black;
    color: white;
}
.elem:nth-child(2n):hover img{
    border: 2px solid white;
    opacity: 1;
    left: 40%;
}.elem:nth-child(2n+1):hover img{
    border: 2px solid white;
    opacity: 1;
    left: 18%;
}
.elem h2{
    font-weight: 500;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
#page5{
    /* background-color: burlywood; */
    height: 100%;
    width: 100%;
    padding: 5vw 5vw;
}
#page5-content{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 45% 5% 28% 22%;
    grid-template-rows: 50% 50%;
}
#page5-left{
    grid-column: 1/2;
    grid-row: 1/3;
    /* background-color: orangered; */
}
#page5-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page5-right-top{
    grid-column: 3/5;
    grid-row : 1/2;
    /* background-color: green; */
}
#page5-right-top h1{
    font-family: "monument";
    font-size: 2.5vw;
    padding-bottom: 1.8vw;
}
#page5-right-top h3{
    font-family: "gilroy";
    width: 25vw;
    font-size: 1.5vw;
    font-weight: 600;
    padding-bottom: 1.8vw;
}
#page5-right-top p{
    font-family: "gilroy";
    width: 37vw;
    font-size: 0.9vw;
    font-weight: 500;
    padding-bottom: 1.8vw;
    font-family: "poppins";
}
#page5-right-bottom{
    grid-row: 2/3;
    grid-column: 3/5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page5-right-bottom img{
    height: 100%;
    width: 48%; 
    object-fit: cover;
    object-position: right;
}
#page6{
    width: 100%;
    height: 100%;
    padding: 5vw;
    position: relative;
}
#page6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; 
}
#page6 h1{
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 2px solid lightcoral;
    color: lightcoral;
    top: 15%;
    right: 10%;
}
#page7{
    height: 100%;
    width: 100%;
    /* background-color: lightgreen; */
    padding: 3vw 5vw;
}
#page7 img{
    border-radius: 5px;
}
#page7-content{
    height: 100%;
    width: 100%;
    /* background-color: orangered; */
    display: grid;
    grid-template-columns: 55% 5% 20% 20%;
    grid-template-rows: 70% 30%;
}
#page7-left{
    grid-row: 1/3;
    grid-column: 1/2;
}
#page7-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7-right-top{
    grid-row: 1/2;
    grid-column: 3/5;
}
#page7-right-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7-right-bottom1{
    grid-row: 2/3;
    grid-column: 3/4;
    /* background-color: blue; */
    padding: 2vw 0vw ;
    font-size: 1vw;
}
#page7-right-bottom2{
    grid-row: 2/3;
    grid-column: 4/5;
    padding: 2vw 0vw ;
    font-size: 1.3vw;
    font-weight: 100;
}
#page8{
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 20% 35% 45%;
    grid-template-rows: 15% 38% 47%;
}
#page8-marque{
    text-wrap: nowrap;
    grid-column: 1/4;
    grid-row: 1/2;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}
#page8-marque h1{
    display: inline-block;
    font-family: "monument";
    padding-right: 2.5vw;
    font-size: 4vw;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page8-left-text{
    grid-column: 1/2;
    grid-row: 2/3;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page8-left-text h1{
    font-size: 3.5vw;
    font-family: "monument";
}
#page8-middle-text{
    gap: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    padding-top: 7.5vw;
    padding-right: 6vw;
}
#page8-middle-text h3{
    font-size: 1.5vw;
    font-weight: 600;
}
#page8-middle-text h1{
    width: 8vw;
    height:3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* background-color: blueviolet; */
    font-size: 1.5vw;
}
#page8-right-text{
    gap: 20px;
    grid-column: 3/4;
    grid-row: 2/3;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    padding-top: 7.5vw;
    padding-right: 7vw;
}
#page8-right-text h3{
    font-size: 1.5vw;
    font-weight: 600;
}
#page8-right-text h1{
    width: 6vw;
    height:3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    /* background-color: blueviolet; */
    font-size: 1.5vw;
}
#page8-bottom-left{
    padding: 0vw 5vw 5vw 1vw;
    grid-column: 2/3;
    grid-row: 3/4;
}
#page8-bottom-right{
    padding: 0vw 10vw 5vw 2vw;
    grid-column: 3/4;
    grid-row: 3/4;
}
#page8 img{
    width: 100%;
    height: 100%;
}   
#lastpage{
    width: 100%;
    height: 20vw;
    /* background-color: lightgreen; */
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 40% 20% 40%;
}
#lastpage-left{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 3vw 5vw;
    grid-column: 1/2;
    grid-row: 1/3;
    /* background-color: red; */
}
#lastpage-left h1{
    font-size: 3vw;
    font-family: "monument";
}
#lastpage-left h4{
    font-size: 1.5vw;
    font-family: "source sans pro";
    font-weight: 500;
    padding-top: 10px;
}
#lastpage-middle{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 3vw 4vw;
    grid-column: 2/3;
    grid-row: 1/3;
    /* background-color: red; */
}
#lastpage-middle h4{
    font-size: 1.5vw;
    font-family: "source sans pro";
    font-weight: 500;
    padding-top: 10px;
}
#lastpage-right-top{
    border-top: 2px solid black;
    border-right: 2px solid black;  
    display: flex;
    justify-content: space-between;
    padding: 3vw 4vw;
    grid-column: 3/4;
    grid-row: 1/2;
    /* background-color: blue; */
}
#lastpage-right-top h4{
    font-size: 1.5vw;
    font-family: "source sans pro";
    font-weight: 500;
    padding-top: 10px;
}
#lastpage-right-bottom{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: space-between;
    padding: 3vw 4vw;
    grid-column: 3/4;
    grid-row: 2/3;
    /* background-color: orange; */
}
#icons{
    display: flex;
    gap: 15px;
}
#icons i:nth-last-child(1){
    font-size: 1.3vw;
}
#lastpage-right-bottom p{
    font-size: 1.2vw;
    font-family: "source sans pro";
    font-weight: 400;
}
@keyframes animation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#footer{
    width: 100%;
    height: 10%;
    background-color: plum;
}
